*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: #2ecc71;
    border-radius: 30px;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: #2ecc71;
    color: white;
    box-shadow: 0 0 10px #2ecc71;
}
.navbar li.btn a{
    background: transparent;
    border: 2px solid #2ecc71;
    border-radius: 30px;
    line-height: 1.3;
    color: #2ecc71;
    font-weight: 500;
}

#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: right;
    /* color: white; */
    
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('henry1.jpg') no-repeat center/cover;
    height: 900px;
    width: 1500px;
    z-index: -1;
}

.container{
    padding-top: 100px
}
.container .hero-text{
    margin-bottom: 40px;
    margin-left: 40px;
}
.container .hero-text h1{
    color: white;
    font-size: 47px;
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0px 20px;
}
span{
    color: #2ecc71;
}
.container .hero-text h3{
    color: #eee;
    font-weight: 400;
    font-size: 20px;
}
.container .hero-text p{
    width: 440px;
    max-width: 100%;
    color: #eee;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.social a{
    width: 37px;
    height: 37px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #eee;
    cursor: pointer;
    margin-right: 20px;
    background-color: rgba(225, 225, 225, 0.1);
    margin-bottom: 35px;
}
.social a:hover{
    transform: scale(1.1);
    background-color: #2ecc71;
    transition: .4s;
}
.container .hero-text button{
    color: #eee;
    background: #2ecc71;
    font-size: 500;
    font-weight: 24px;
    line-height: 24px;
    padding: 8px 30px;
    border: 2px solid #2ecc71;
    border-radius: 30px;
    cursor: pointer;
}
.container .hero-text button:hover{
    background: transparent;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    transition: .4s;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

/* About Section */
#about{
    margin: 40px;
    line-height: 2.5rem;
}
#about h1{
    display: flex;
    place-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Portfolio Section */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: #2ecc71;
    align-items: center;
    padding: 20px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

/* Services Section */
#servies{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, #2ecc71 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px #2ecc71;
}
.box img{
    width: 100px;
    height: 100px;
    padding: 10px;
}

/* Contact Section */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: #2ecc71;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}
#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #2ecc71;
    color: white;
    transition: .4s;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #2ecc71;
}


.bottom{
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.932);
}
.bottom p{
    display: flex;
    justify-content: center;
    color: #eee;
    letter-spacing: 2px;
    font-size: 15px;
}